@charset "UTF-8";
header{
 background-color: powderblue;
 height:70px;
 line-height:70px;
 text-align:center;
 vertical-align:middle;
}
nav{
 background-color:rgb(128, 255, 255);
 height:40px;
 line-height:45px;
 vertical-align:middle;
}
section{
 background-color: white;
 min-height:400px;

} 
footer{
 background-color:#01a2b4;
 height:35px;
 line-height:35px;
 text-align:center;
 vertical-align:middle;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}